---
// src/pages/sua-page.astro

import Blogstress from '../components/Blogstresstrab.astro';
import Layout from '../layouts/Layout.astro';
import Navegation from '../components/navegation.astro';
import Footer from '../components/footer.astro';
import '../styles/global.css';
---

<Layout>
  <Navegation />
  <main class="">
    <Blogstress/>
  </main>
  <Footer />
</Layout>
