<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title class="text-teste-normal">Lídia Andrade</title>
    <!-- Link para a fonte Reenie Beanie -->

    <link
      href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Forum&family=Reenie+Beanie&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="p-4">
    <div
      class="divUM flex flex-col md:flex-row gap-7 px-4  "
      style="margin-bottom: 0.5rem; height: auto;">
      <!-- Imagem -->
      <img
      class="w-full md:w-1/2 shadow-xl h-auto max-h-[60vh] mt-6 object-center rounded-lg"
      src="src/assets/BLOG-AfinaloqueeTDAH.jpg"
      alt="Lídia Andrade"
      />

      <!-- Texto -->
      <div class="divDois w-full md:w-1/2 text-lg flex flex-col mt-0 md: h-full">
      <h2 class="font-titulo md:text-5xl mt-5">
        AFINAL, O QUE É TDAH? 
        </h2>
      <p class="font-light text-amber-600 text-lg mb-4">3 minutos de leitura</p> 
      <p class="mb-4 text-lg  ">
        Provavelmente, você chegou aqui porque o TDAH é algo que afeta sua vida ou a de alguém que você ama. Antes de tudo, saiba que você não está sozinho(a). Entender o Transtorno de Déficit de Atenção e Hiperatividade é um primeiro passo para encontrar caminhos que tornem a vida mais leve e equilibrada.
      </p>
      <span class="font-bold">Afinal, o que é TDAH?
      </span>
      </p>
      <p class="mt-4 text-lg">
        O TDAH, ou Transtorno de Déficit de Atenção com Hiperatividade, é uma condição que pode impactar a capacidade de prestar atenção, controlar comportamentos e organizar tarefas do dia a dia.
      </p>
     
    
     
      </div>
    </div>

    <div class="div3 w-full text-lg px-4 py-2">
      
      <p class="my-2 text-lg">
        Ele pode surgir na infância ou adolescência, mas também é comum que continue na vida adulta. Existem <span class="font-bold">três principais formas de manifestação do TDAH:</span>  desatento, hiperativo/impulsivo e combinado, que é uma mistura dos dois primeiros. </p>
      <span class="font-bold">Causas e Diagnóstico
      </span>
      <p class="my-2">Embora não exista uma única causa para o TDAH, pesquisas indicam que a  condição hereditária é o fator mais determinante. Além disso, lesões cerebrais e algumas exposições durante a gestação também podem influenciar.</p>
      <p class="my-2">Vale destacar que mitos como "culpa da alimentação" ou "falhas na educação"  <span class="font-bold">não causam TDAH.</span></p>

     
      <p class="font-bold">O cérebro TDAH é diferente?</p>
      
      

      <p class="my-2"> O cérebro de uma pessoa com TDAH pode apresentar algumas diferenças, como áreas um pouco menores ou menos ativas. Isso afeta a atenção, o controle emocional e a capacidade de gerenciar impulsos. </p>

      <p class="my-2"> Além disso, os neurotransmissores — substâncias que ajudam a transmitir mensagens no cérebro — como dopamina e norepinefrina podem não funcionar de forma tão eficiente, influenciando a motivação e a habilidade de se manter alerta.</p>

      <p class="font-bold">Funções Executivas</p>

      <p class="my-2"> O TDAH impacta algo chamado funções executivas, que são como "ferramentas mentais" usadas <span class="font-bold">para organizar, planejar e executar tarefas.</span>  Por isso, quem tem TDAH pode enfrentar dificuldades em manter o foco, gerenciar o tempo, organizar atividades e controlar emoções</p>

      <p class="font-bold">Comorbidades</p>

      <p class="my-2"> É comum o TDAH vir acompanhado de outros desafios. Isso é chamado de comorbidade. Algumas delas incluem dificuldades de aprendizado, como dislexia e discalculia, além de problemas de coordenação motora. Também podem surgir questões relacionadas à saúde mental, como ansiedade e depressão. </p>


      <p class="font-bold">Tem tratamento?</p>

      <p class="my-2"> O tratamento do TDAH costuma ser mais eficaz quando combina diferentes abordagens: medicamentos podem ajudar a melhorar o foco e a organização, enquanto terapias comportamentais ajudam a desenvolver habilidades para lidar com os desafios do dia a dia.</p>

      <p class="font-bold">Um Passo de Cada Vez</p>

      <p class="mb-6"> Entender o TDAH é um grande passo para transformar desafios em aprendizados e potencializar talentos que, às vezes, podem estar escondidos. Como psicóloga, quero que saiba que estou aqui para ajudar. Juntos, podemos encontrar caminhos que tornem sua jornada mais plena e saudável.</p>

    

      <a class="bg-amber-900/25 rounded-lg  p-2 shadow-lg hover:underline text-xl md: text-amber-800 w-fit" href=""
      >Entre em Contato</a>
    </div>

   
    
        
       

      <div
      class="border-t-[0.80px] mt-4 p-4 border-amber-950 flex flex-col items-center"
    >
      <h2 class="font-titulo items-start mb-4 text-5xl">Outras leituras</h2>
      <div
        class="divmaior flex flex-col items-center justify-center md:flex-row"
      >
        <div
          class="divgrande flex flex-col items-center md:w-1/2  "
        >
            <img
            class="mt-2 md:w-[70%] shadow-xl h-auto object-cover object-center rounded-lg hidden md:block"
            src="src/assets/BLOG.jpg"
            alt="Lídia Andrade"
            />

          <p class="w-[70%] mt-4">
            Aqui você encontra textos psico-educacionais curtos sobre diversos
            assuntos.
            <br />
            <span class="font-titulo text-xl"> Boa leitura!</span>
          </p>
          <div class="my-4 md:mt-8">
            <a href="" class="text-amber-800 font-bold  md:hover:underline text-xl">
               Veja todos os textos</a
            >
          </div>
        </div>

        <div
          class="divcoluna flex flex-col gap-4 md:w-[40%] max-h-[450px] overflow-y-auto"
        >
       
          <a
            href="#"
            class="flex gap-2 items-center w-full h-[150px] border-b border-gray-300 pb-2 hover:bg-gray-200"
          >
            <img
              class="w-1/2 h-full shadow-xl object-scale-down object-center rounded-lg"
              src="src/assets/BLOG_-_Ansiedade-removebg-preview.png"
              alt="Lídia Andrade"
            />
            <h3 class="w-1/2 hover:underline">
              <span class="font-light text-amber-600 text-xs"
          >2 minutos de leitura</span
              ><br />
              COMO SABER SE TENHO ANSIEDADE?
            </h3>
          </a>
          
          <a
            href="#"
            class="flex gap-2 items-center w-full h-[150px] border-b border-gray-300 pb-2 hover:bg-gray-200"
          >
            <img
              class="w-1/2 h-full shadow-xl object-cover object-center rounded-lg"
              src="src/assets/BLOG-AfinaloqueeTDAH.jpg"
              alt="Lídia Andrade"
            />
            <h3 class="w-1/2 hover:underline">
              <span class="font-light text-amber-600 text-xs"
          >3 minutos de leitura</span
              ><br />
              AFINAL, O QUE É TDAH?
            </h3>
          </a>
          
         
          <a
            href="#"
            class="flex gap-2 items-center w-full h-[150px] border-b border-gray-300 pb-2 hover:bg-gray-200"
          >
            <img
              class="w-1/2 h-full shadow-xl object-cover object-center rounded-lg"
              src="src/assets/BLOG-ComosabersemeufilhotemTDAH.jpg"
              alt="Lídia Andrade"
            />
            <h3 class="w-1/2 hover:underline">
              <span class="font-light text-amber-600 text-xs"
          >2 minutos de leitura</span
              ><br />
              COMO SABER SE MEU FILHO TEM TDAH?
            </h3>
          </a>

          <a
            href="#"
            class="flex gap-2 items-center w-full h-[150px] border-b border-gray-300 pb-2 hover:bg-gray-200"
          >
            <img
              class="w-1/2 h-full shadow-xl object-cover object-center rounded-lg"
              src="src/assets/BLOG-ComolidarcomumfilhoquetemTDAH.jpg"
              alt="Lídia Andrade"
            />
            <h3 class="w-1/2 hover:underline">
              <span class="font-light text-amber-600 text-xs"
          >3 minutos de leitura</span
              ><br />
              COMO LIDAR COM UM FILHO QUE TEM TDAH?
            </h3>
          </a>
          
        </div>
          
        </div>
      </div>
    </div>

</html>
