<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title class="text-teste-normal">Lídia Andrade</title>
    <!-- Link para a fonte Reenie Beanie -->

    <link
      href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Forum&family=Reenie+Beanie&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="p-4">
    <div
      class="divUM flex flex-col md:flex-row gap-7 px-4"
      style="margin-bottom: 0.5rem; height: auto;"
    >
      <!-- Imagem -->
      <img
        class="w-full md:w-1/2 shadow-xl h-auto max-h-[60vh] mt-6 object-center rounded-lg"
        src="/src/assets/BLOG-Depressao.jpg"
        alt="Lídia Andrade"
      />

      <!-- Texto -->
      <div
        class="divDois w-full md:w-1/2 text-lg flex flex-col mt-0 md: h-full"
      >
        <h2 class="font-titulo md:text-5xl mt-5">
          COMO SABER SE ESTOU COM DEPRESSÃO?
        </h2>
        <p class="font-light text-amber-600 text-lg mb-4">
          2 minutos de leitura
        </p>
        <p class="mb-4 text-lg md:text-base">
          Se você tem se sentido sem energia, desmotivado(a) ou desconectado(a) do que realmente importa para você, saiba que é normal questionar o que está acontecendo. A depressão pode ser um desafio difícil de enfrentar, mas também pode ser um convite para olhar mais de perto para suas emoções e para o que traz sentido à sua vida.
          <br />
          <span class="font-bold">O que é Depressão?</span>
        </p>
        <p class="mt-4 text-lg">
          A depressão <span class="font-bold">não é apenas tristeza passageira.</span> Ela é um estado psicológico que impacta a forma como pensamos, sentimos e lidamos com as atividades do dia a dia. 
        </p>
      </div>
    </div>

    <div class="div3 w-full text-lg  ">
      <div class="div3 w-full text-lg px-4 ">
        <ul class=" space-y-2 text-lg">
          <p class="font-bold">De onde vem a depressão?</p>
          <p>
            A depressão é influenciada por uma combinação de fatores biológicos, psicológicos e sociais, incluindo: mudanças químicas no cérebro, predisposição genética; baixa autoestima; dificuldade em lidar com emoções difíceis; eventos traumáticos; isolamento social; pressões culturais ou dificuldades financeiras.
          </p>
          <p class="font-bold">Quais são os sinais da depressão?</p>
          <p>
            Cada pessoa vive o transtorno de forma única, então não é preciso ter todos os sinais para perceber que algo não vai bem.
          </p>
          <p> <span class="font-bold">Emocionais:</span> tristeza persistente, sensação de vazio, desesperança ou irritabilidade | <span class="font-bold">Cognitivos:</span> dificuldade de concentração, pensamentos negativos frequentes ou sensação de inutilidade | <span class="font-bold">   Físicos:</span>  insônia ou sono excessivo, mudanças no apetite, fadiga ou dores físicas sem causa aparente | <span class="font-bold">Comportamentais:</span> isolamento social, redução de interesse ou prazer em atividades antes apreciadas, dificuldade em realizar tarefas cotidianas.</p>

         

        <p class="mt-4 mb-8 text-lg">
          Se a tristeza ou desmotivação tem impactado seu dia a dia, saiba que você não está sozinho(a) e pode encontrar apoio para superar esses desafios. Buscar ajuda é um ato de coragem e cuidado consigo mesmo(a). A psicoterapia, especialmente com abordagens acolhedoras como a ACT, pode ajudar a aceitar emoções difíceis, reconectar-se com seus valores e construir uma vida mais significativa.
        </p>

        
        
      </div>
      <div class="my-8 ml-4"><a
        class="bg-amber-900/25 rounded-lg p-2 shadow-lg hover:underline text-xl md:text-amber-800 w-fit mt-8"
        href="">Entre em Contato</a></div>

      <div
        class="border-t-[0.80px] mt-4 p-4 border-amber-950 flex flex-col items-center"
      >
        <h2 class="font-titulo items-start mb-4 text-5xl">Outras leituras</h2>
        <div
          class="divmaior flex flex-col items-center justify-center md:flex-row"
        >
          <div class="divgrande flex flex-col items-center md:w-1/2">
            <img
              class="mt-2 md:w-[70%] shadow-xl h-auto object-cover object-center rounded-lg hidden md:block"
              src="src/assets/BLOG.jpg"
              alt="Lídia Andrade"
            />

            <p class="w-[70%] mt-4">
              Aqui você encontra textos psico-educacionais curtos sobre diversos
              assuntos.
              <br />
              <span class="font-titulo text-xl"> Boa leitura!</span>
            </p>
            <div class="my-4 md:mt-8">
              <a
                href=""
                class="text-amber-800 font-bold md:hover:underline text-xl"
              >
                Veja todos os textos</a
              >
            </div>
          </div>

          <div
            class="divcoluna flex flex-col gap-4 md:w-[40%] max-h-[450px] overflow-y-auto"
          >
            <a
              href="#"
              class="flex gap-2 items-center w-full h-[150px] border-b border-gray-300 pb-2 hover:bg-gray-200"
            >
              <img
                class="w-1/2 h-full shadow-xl object-scale-down object-center rounded-lg"
                src="src/assets/BLOG_-_Ansiedade-removebg-preview.png"
                alt="Lídia Andrade"
              />
              <h3 class="w-1/2 hover:underline">
                <span class="font-light text-amber-600 text-xs"
                  >2 minutos de leitura</span
                ><br />
                COMO SABER SE TENHO ANSIEDADE?
              </h3>
            </a>

            <a
              href="#"
              class="flex gap-2 items-center w-full h-[150px] border-b border-gray-300 pb-2 hover:bg-gray-200"
            >
              <img
                class="w-1/2 h-full shadow-xl object-cover object-center rounded-lg"
                src="src/assets/BLOG-AfinaloqueeTDAH.jpg"
                alt="Lídia Andrade"
              />
              <h3 class="w-1/2 hover:underline">
                <span class="font-light text-amber-600 text-xs"
                  >3 minutos de leitura</span
                ><br />
                AFINAL, O QUE É TDAH?
              </h3>
            </a>

            <a
              href="#"
              class="flex gap-2 items-center w-full h-[150px] border-b border-gray-300 pb-2 hover:bg-gray-200"
            >
              <img
                class="w-1/2 h-full shadow-xl object-cover object-center rounded-lg"
                src="src/assets/BLOG-ComosabersemeufilhotemTDAH.jpg"
                alt="Lídia Andrade"
              />
              <h3 class="w-1/2 hover:underline">
                <span class="font-light text-amber-600 text-xs"
                  >2 minutos de leitura</span
                ><br />
                COMO SABER SE MEU FILHO TEM TDAH?
              </h3>
            </a>

            <a
              href="#"
              class="flex gap-2 items-center w-full h-[150px] border-b border-gray-300 pb-2 hover:bg-gray-200"
            >
              <img
                class="w-1/2 h-full shadow-xl object-cover object-center rounded-lg"
                src="src/assets/BLOG-ComolidarcomumfilhoquetemTDAH.jpg"
                alt="Lídia Andrade"
              />
              <h3 class="w-1/2 hover:underline">
                <span class="font-light text-amber-600 text-xs"
                  >3 minutos de leitura</span
                ><br />
                COMO LIDAR COM UM FILHO QUE TEM TDAH?
              </h3>
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
