<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title class="text-teste-normal">Lídia Andrade</title>
    <!-- Link para a fonte Reenie Beanie -->

    <link
      href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Forum&family=Reenie+Beanie&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="p-4">
    <div
      class="divUM flex flex-col md:flex-row gap-7 px-4  "
      style="margin-bottom: 0.5rem; height: auto;">
      <!-- Imagem -->
      <img
      class="w-full md:w-1/2 shadow-xl h-auto max-h-[60vh] mt-6 object-center rounded-lg"
      src="src/assets/stress-trab.jpg"
      alt="Lídia Andrade"
      />

      <!-- Texto -->
      <div class="divDois w-full md:w-1/2 text-lg flex flex-col mt-0 md: h-full">
      <h2 class="font-titulo md:text-5xl mt-5">COMO LIDAR COM O ESTRESSE DO TRABALHO?</h2>
      <p class="font-light text-amber-600 text-lg mb-4">2 minutos de leitura</p> 
      <p class="mb-4 text-lg ">
        O estresse no trabalho é uma realidade para muitas pessoas, especialmente em um mundo cada vez mais acelerado e cheio de demandas. Reconhecer os sinais de sobrecarga e adotar estratégias para cuidar da saúde mental são passos essenciais para preservar o bem-estar e a produtividade. 
      </p>
      <p class="mb-4 text-lg ">
        Aqui, você encontrará dicas práticas para lidar com o estresse e tornar o dia a dia mais leve e equilibrado.
      </p>
      
     
      </div>
      
    </div>
    

    <div class="div3 w-full text-lg px-4 py-2">

      <ul class="mt-2 list-disc space-y-2 text-lg">
        <p>
          <span class="font-bold">Estabeleça limites entre trabalho e vida pessoal</span>
          </p>
          <p class="mt-4 text-lg">
            Estabeleça horários claros para iniciar e encerrar suas atividades profissionais: 
          </p>
        
        <li class="ml-4"> decida até que horas responderá e-mails ou mensagens no WhatsApp.</li>
        <li class="ml-4"> durante as refeições, procure focar no momento presente, evitando atender chamadas de trabalho ou se envolver com demandas profissionais.</li>       
                
  
        </ul>
      

      <ul class="mt-2  space-y-2 text-lg">
      <p class="font-bold">Reconheça os sinais iniciais de estresse</p>
      
      <li>Dores de cabeça frequentes;</li>
      <li>Alergias sem explicação aparente </li>
     
      <li>Falta de ar, irritação ou inquietação;</li>
      <li>Dificuldade para se comunicar;</li>
      <li>Queda na produtividade, gastos impulsivos;</li>
      <li>Redução da libido, isolamento social;</li>
      <li>Problemas de concentração;</li>
      <li>Crises de choro, pensamentos negativos, humor instável, ansiedade elevada;</li>
      <li>Problemas de concentração;</li>
      <li>Sensação de cobrança excessiva, solidão ou inutilidade, entre outros.</li>       

      </ul>
      <div>
        <p class="font-bold my-2">Incorpore práticas de atenção plena</p>
        <p> Atividades como <span class="font-bold"> yoga, pilates e meditação</span>  podem ser grandes aliadas. Elas ajudam você a se conectar com o momento presente e a reduzir significativamente os níveis de estresse. Com a prática regular, é possível aplicar técnicas de respiração e mindfulness em situações de maior pressão no dia a dia.</p>

      </div>

      <p class="mt-2 mb-6"> <span class="font-bold">Lembre-se! </span> Você não está sozinho(a). Se você se sente sobrecarregado(a) – algo totalmente compreensível no mundo acelerado em que vivemos – cuidar de si é o primeiro passo para recuperar seu equilíbrio. </p>

    

      <a class="bg-amber-900/25 rounded-lg  p-2 shadow-lg hover:underline text-xl md: text-amber-800 w-fit" href=""
      >Entre em Contato</a>
    </div>

   
    
        
       

      <div
      class="border-t-[0.80px] mt-4 p-4 border-amber-950 flex flex-col items-center"
    >
      <h2 class="font-titulo items-start mb-4 text-5xl">Outras leituras</h2>
      <div
        class="divmaior flex flex-col items-center justify-center md:flex-row"
      >
        <div
          class="divgrande flex flex-col items-center md:w-1/2  "
        >
            <img
            class="mt-2 md:w-[70%] shadow-xl h-auto object-cover object-center rounded-lg hidden md:block"
            src="src/assets/BLOG.jpg"
            alt="Lídia Andrade"
            />

          <p class="w-[70%] mt-4">
            Aqui você encontra textos psico-educacionais curtos sobre diversos
            assuntos.
            <br />
            <span class="font-titulo text-xl"> Boa leitura!</span>
          </p>
          <div class="my-4 md:mt-8">
            <a href="" class="text-amber-800 font-bold  md:hover:underline text-xl">
               Veja todos os textos</a
            >
          </div>
        </div>

        <div
          class="divcoluna flex flex-col gap-4 md:w-[40%] max-h-[450px] overflow-y-auto"
        >
       
          <a
            href="#"
            class="flex gap-2 items-center w-full h-[150px] border-b border-gray-300 pb-2 hover:bg-gray-200"
          >
            <img
              class="w-1/2 h-full shadow-xl object-scale-down object-center rounded-lg"
              src="src/assets/BLOG_-_Ansiedade-removebg-preview.png"
              alt="Lídia Andrade"
            />
            <h3 class="w-1/2 hover:underline">
              <span class="font-light text-amber-600 text-xs"
          >2 minutos de leitura</span
              ><br />
              COMO SABER SE TENHO ANSIEDADE?
            </h3>
          </a>
          
          <a
            href="#"
            class="flex gap-2 items-center w-full h-[150px] border-b border-gray-300 pb-2 hover:bg-gray-200"
          >
            <img
              class="w-1/2 h-full shadow-xl object-cover object-center rounded-lg"
              src="src/assets/BLOG-AfinaloqueeTDAH.jpg"
              alt="Lídia Andrade"
            />
            <h3 class="w-1/2 hover:underline">
              <span class="font-light text-amber-600 text-xs"
          >3 minutos de leitura</span
              ><br />
              AFINAL, O QUE É TDAH?
            </h3>
          </a>
          
         
          <a
            href="#"
            class="flex gap-2 items-center w-full h-[150px] border-b border-gray-300 pb-2 hover:bg-gray-200"
          >
            <img
              class="w-1/2 h-full shadow-xl object-cover object-center rounded-lg"
              src="src/assets/BLOG-ComosabersemeufilhotemTDAH.jpg"
              alt="Lídia Andrade"
            />
            <h3 class="w-1/2 hover:underline">
              <span class="font-light text-amber-600 text-xs"
          >2 minutos de leitura</span
              ><br />
              COMO SABER SE MEU FILHO TEM TDAH?
            </h3>
          </a>

          <a
            href="#"
            class="flex gap-2 items-center w-full h-[150px] border-b border-gray-300 pb-2 hover:bg-gray-200"
          >
            <img
              class="w-1/2 h-full shadow-xl object-cover object-center rounded-lg"
              src="src/assets/BLOG-ComolidarcomumfilhoquetemTDAH.jpg"
              alt="Lídia Andrade"
            />
            <h3 class="w-1/2 hover:underline">
              <span class="font-light text-amber-600 text-xs"
          >3 minutos de leitura</span
              ><br />
              COMO LIDAR COM UM FILHO QUE TEM TDAH?
            </h3>
          </a>
          
        </div>
          
        </div>
      </div>
    </div>

</html>
