<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title class="text-teste-normal">Lídia Andrade</title>
    <!-- Link para a fonte Reenie Beanie -->

    <link
      href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Forum&family=Reenie+Beanie&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="p-4">
    <div
      class="divUM flex flex-col md:flex-row gap-7 px-4  "
      style="margin-bottom: 0.5rem; height: auto;">
      <!-- Imagem -->
      <img
      class="w-full md:w-1/2 shadow-xl h-auto max-h-[60vh] mt-6 object-center rounded-lg"
      src="src/assets/BLOG-Burnout.jpg"
      alt="Lídia Andrade"
      />

      <!-- Texto -->
      <div class="divDois w-full md:w-1/2 text-lg flex flex-col mt-0 md: h-full">
      <h2 class="font-titulo md:text-5xl mt-5">SERÁ QUE É BURNOUT?</h2>
      <p class="font-light text-amber-600 text-lg mb-4">3 minutos de leitura</p> 
      <p class="mb-4 text-lg md:text-base ">
        “Meu trabalho me deixa esgotado(a)”; “Estou sempre cansado(a) quando me levanto de manhã e tenho mais um dia de trabalho pela frente”.
      </p>
      <p class="mb-4 text-lg md:text-base ">
        Essas são frases comuns de quem está lidando com o burnout. É importante estar atento(a) aos sinais, pois, além dos impactos na vida pessoal, essa síndrome pode afetar sua vida profissional e social.
      </p>
      <p>
      <span class="font-bold">O que é Burnout?</span>
      </p>
      <p class="mt-4 text-lg">
        O Burnout é uma condição de esgotamento físico, emocional e mental causada por estresse crônico no trabalho ou em outras áreas da vida. Ele se caracteriza por <span class="font-bold">sentimentos de exaustão, distanciamento emocional</span> em relação às atividades, e <span class="font-bold">redução da eficácia pessoal.</span>
      </p>
      </div>
    </div>

    <div class="div3 w-full text-lg px-4 ">
      <span class="font-bold">O que é Burnout?</span>
      <p>Ele surge da combinação de diversos fatores de risco, como: predisposições genéticas, experiências vividas ao longo da vida e as demandas ou recursos do momento atual. Por isso, cada pessoa apresenta características únicas.</p>

      <ul class="mt-2  space-y-2 text-lg">
      <p class="font-bold">Quais são os sintomas do Burnout? </p>
      
      <li class="ml-4"> <span class="font-bold">Cansaço extremo e alterações no sono:</span>   sensação de esgotamento físico e mental e dificuldades para dormir;</li>
      <li class="ml-4"> <span class="font-bold">Dificuldades cognitivas e emocionais: </span> problemas de concentração e memória, sentimento de insuficiência e dificuldade para tomar decisões;</li>
     
      <li class="ml-4"><span class="font-bold">Redução da iniciativa e apatia: </span> falta de motivação, criatividadediminuída, propensão ao choro, sensação de fraqueza, inquietação e desesperança;</li>
      <li class="ml-4"><span class="font-bold"> Mudanças no comportamento social:</span> distanciamento emocional de clientes ou colegas, comunicação excessivamente técnica, críticas frequentes, perda de empatia, desapego aos próprios ideais;</li>
      <li class="ml-4"><span class="font-bold"> Impactos nas relações pessoais: </span> conflitos ou afastamento do parceiro, familiares ou amigos próximos;</li>
      <li class="ml-4"><span class="font-bold"> Falta de reconhecimento: </span> percepção de desvalorização ou ausência de reconhecimento pelos esforços realizados;</li>
      <li class="ml-4"><span class="font-bold"> Manifestações físicas:</span> sintomas como aperto no peito, dificuldade para respirar, dores nas costas, náuseas ou outros desconfortos corporais</li>
              

      </ul>

      <p class="mt-2 mb-6"> Se você se identificou com esses sintomas, é sinal de que você pode precisar de ajuda. Na psicoterapia, baseada na abordagem científica e acolhedora da Terapia de Aceitação e Compromisso (ACT), <span class="font-bold">ofereço estratégias saudáveis de enfrentamento</span> e busco intervenções que não só aliviam os sintomas, mas ajudam na prevenção e na recuperação a longo prazo. </p>

    

      <a class="bg-amber-900/25 rounded-lg  p-2 shadow-lg hover:underline text-xl md: text-amber-800 w-fit" href=""
      >Entre em Contato</a>
    </div>

   
    
        
       

      <div
      class="border-t-[0.80px] mt-4 p-4 border-amber-950 flex flex-col items-center"
    >
      <h2 class="font-titulo items-start mb-4 text-5xl">Outras leituras</h2>
      <div
        class="divmaior flex flex-col items-center justify-center md:flex-row"
      >
        <div
          class="divgrande flex flex-col items-center md:w-1/2  "
        >
            <img
            class="mt-2 md:w-[70%] shadow-xl h-auto object-cover object-center rounded-lg hidden md:block"
            src="src/assets/BLOG.jpg"
            alt="Lídia Andrade"
            />

          <p class="w-[70%] mt-4">
            Aqui você encontra textos psico-educacionais curtos sobre diversos
            assuntos.
            <br />
            <span class="font-titulo text-xl"> Boa leitura!</span>
          </p>
          <div class="my-4 md:mt-8">
            <a href="" class="text-amber-800 font-bold  md:hover:underline text-xl">
               Veja todos os textos</a
            >
          </div>
        </div>

        <div
          class="divcoluna flex flex-col gap-4 md:w-[40%] max-h-[450px] overflow-y-auto"
        >
       
          <a
            href="#"
            class="flex gap-2 items-center w-full h-[150px] border-b border-gray-300 pb-2 hover:bg-gray-200"
          >
            <img
              class="w-1/2 h-full shadow-xl object-scale-down object-center rounded-lg"
              src="src/assets/BLOG_-_Ansiedade-removebg-preview.png"
              alt="Lídia Andrade"
            />
            <h3 class="w-1/2 hover:underline">
              <span class="font-light text-amber-600 text-xs"
          >2 minutos de leitura</span
              ><br />
              COMO SABER SE TENHO ANSIEDADE?
            </h3>
          </a>
          
          <a
            href="#"
            class="flex gap-2 items-center w-full h-[150px] border-b border-gray-300 pb-2 hover:bg-gray-200"
          >
            <img
              class="w-1/2 h-full shadow-xl object-cover object-center rounded-lg"
              src="src/assets/BLOG-AfinaloqueeTDAH.jpg"
              alt="Lídia Andrade"
            />
            <h3 class="w-1/2 hover:underline">
              <span class="font-light text-amber-600 text-xs"
          >3 minutos de leitura</span
              ><br />
              AFINAL, O QUE É TDAH?
            </h3>
          </a>
          
         
          <a
            href="#"
            class="flex gap-2 items-center w-full h-[150px] border-b border-gray-300 pb-2 hover:bg-gray-200"
          >
            <img
              class="w-1/2 h-full shadow-xl object-cover object-center rounded-lg"
              src="src/assets/BLOG-ComosabersemeufilhotemTDAH.jpg"
              alt="Lídia Andrade"
            />
            <h3 class="w-1/2 hover:underline">
              <span class="font-light text-amber-600 text-xs"
          >2 minutos de leitura</span
              ><br />
              COMO SABER SE MEU FILHO TEM TDAH?
            </h3>
          </a>

          <a
            href="#"
            class="flex gap-2 items-center w-full h-[150px] border-b border-gray-300 pb-2 hover:bg-gray-200"
          >
            <img
              class="w-1/2 h-full shadow-xl object-cover object-center rounded-lg"
              src="src/assets/BLOG-ComolidarcomumfilhoquetemTDAH.jpg"
              alt="Lídia Andrade"
            />
            <h3 class="w-1/2 hover:underline">
              <span class="font-light text-amber-600 text-xs"
          >3 minutos de leitura</span
              ><br />
              COMO LIDAR COM UM FILHO QUE TEM TDAH?
            </h3>
          </a>
          
        </div>
          
        </div>
      </div>
    </div>

</html>
