<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title class="text-teste-normal">Lídia Andrade</title>
    <!-- Link para a fonte Reenie Beanie -->

    <link
      href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Forum&family=Reenie+Beanie&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="p-4">
    <div
      class="divUM flex flex-col md:flex-row gap-7 px-4"
      style="margin-bottom: 0.5rem; height: auto;"
    >
      <!-- Imagem -->
      <img
        class="w-full md:w-1/2 shadow-xl h-auto max-h-[60vh] mt-6 object-center rounded-lg"
        src="src/assets/BLOG-ComolidarcomumfilhoquetemTDAH.jpg "
        alt="Lídia Andrade"
      />

      <!-- Texto -->
      <div
        class="divDois w-full md:w-1/2 text-lg flex flex-col mt-0 md: h-full"
      >
        <h2 class="font-titulo md:text-5xl mt-5">
          COMO LIDAR COM UM FILHO QUE TEM TDAH?
        </h2>
        <p class="font-light text-amber-600 text-lg mb-4">
          3 minutos de leitura
        </p>
        <p class="mb-4 text-lg md:text-base">
          "Eu falo a mesma coisa mil vezes e nada muda!" "Parece que quando eu
          falo com ela, ela está no mundo da lua!” "Ele nunca pára quieto. Não
          sei mais o que fazer!"
          <br />
          <p>Essas frases soam familiares para você?</p>
        </p>
        <p class="mt-4 text-lg">
          A Dra. Sharon Saline desenvolveu o método dos "Cinco C's da
          Parentalidade" para ajudar pais e responsáveis a lidar com os desafios
          de educar seus filhos com TDAH, promovendo cooperação e uma relação
          mais saudável. Esse é um dos métodos que aplico em minhas sessões.
          Aqui estão os principais conceitos de forma resumida:
        </p>
      </div>
    </div>

    <div class="div3 w-full text-lg px-4 ">
      <div class="div3 w-full text-lg px-4 ">
        <ul class="mt-2 space-y-2 text-lg">
          <p class="font-bold">1. AutoCONTROLE</p>
          <p>
            Os pais devem aprender a lidar com suas emoções para reagir de forma
            calma e eficaz aos comportamentos dos filhos.
          </p>

          <li>
            Evite reações impulsivas, pois elas podem prejudicar a conexão com a
            criança.
          </li>
          <li>
            Use técnicas de respiração para recuperar o equilíbrio emocional
            antes de agir.
          </li>

          <li>
            Responder com empatia e assertividade facilita a cooperação e mostra
            que os sentimentos da criança são respeitados.
          </li>
        </ul>

        <ul class="mt-2 space-y-2 text-lg">
          <p class="font-bold">2. COMPAIXÃO</p>
          <p>
            Compaixão implica aceitar a criança como ela é, sem julgamentos.
          </p>

          <li>
            Pratique a autocompaixão, reconhecendo que erros fazem parte do
            processo.
          </li>
          <li>
            Converse com os filhos de forma calma após incidentes, sempre dentro
            de 24 horas, para resolver as questões sem guardar ressentimentos.
          </li>

          <li>
            Ajude-os a aprender com os erros e siga em frente sem alimentar
            mágoas.
          </li>
        </ul>

        
        <ul class="mt-2 space-y-2 text-lg">
          <p class="font-bold">3. COLABORAÇÃO</p>
          <p>Inclua a criança no processo de resolução de problemas, promovendo um ambiente de respeito mútuo.</p>

          <li>Dialogue em momentos planejados para entender as dificuldades e encontrar soluções conjuntas.</li>
          <li>
            Estabeleça mudanças graduais e possíveis de implementar, envolvendo os filhos em decisões importantes sem abrir mão da autoridade parental.
          </li>

          
        </ul>
        <ul class="mt-2 space-y-2 text-lg">
          <p class="font-bold">4. CONSISTÊNCIA</p>
          <p>Mantenha-se firme nos acordos e regras, demonstrando que ações têm consequências.
          </p>

          <li>Seja coerente ao aplicar combinados e explique as exceções quando necessário.</li>
          <li>
            Imprevistos fazem parte, mas não devem se tornar justificativas para quebrar rotinas.
          </li>
          <li>Limites claros ajudam a desenvolver resiliência e senso de responsabilidade.</li>

          
        </ul>

        <ul class="mt-2 space-y-2 text-lg">
          <p class="font-bold">5. CELEBRAÇÃO</p>
          <p>Reforce positivamente os esforços e conquistas da criança, valorizando até pequenos sucessos.
          </p>

          <li>Elogios devem ser específicos, indicando o que foi bem feito e por quê.</li>
          <li>
            Incentive os interesses da criança, fortalecendo sua autoestima e autoconfiança.
          </li>
          <li>Reforce os aprendizados repetindo as observações positivas de forma estruturada.</li>

          
        </ul>

        <p class="my-4 text-lg">
          O método dos "Cinco C's" transforma desafios em oportunidades para <span class="font-bold">fortalecer os laços familiares e promover o crescimento emocional e comportamental do adolescente.</span>  Sabemos que essa jornada exige paciência e prática e estou aqui para ouvir suas preocupações, adaptar as estratégias à sua realidade e ajudá-la(o) a construir um ambiente mais harmonioso e positivo em família. 

        </p>

        <a
          class="bg-amber-900/25 rounded-lg p-2 shadow-lg hover:underline text-xl md: text-amber-800 w-fit"
          href="">Entre em Contato</a
        >
      </div>

      <div
        class="border-t-[0.80px] mt-4 p-4 border-amber-950 flex flex-col items-center"
      >
        <h2 class="font-titulo items-start mb-4 text-5xl">Outras leituras</h2>
        <div
          class="divmaior flex flex-col items-center justify-center md:flex-row"
        >
          <div class="divgrande flex flex-col items-center md:w-1/2">
            <img
              class="mt-2 md:w-[70%] shadow-xl h-auto object-cover object-center rounded-lg hidden md:block"
              src="src/assets/BLOG.jpg"
              alt="Lídia Andrade"
            />

            <p class="w-[70%] mt-4">
              Aqui você encontra textos psico-educacionais curtos sobre diversos
              assuntos.
              <br />
              <span class="font-titulo text-xl"> Boa leitura!</span>
            </p>
            <div class="my-4 md:mt-8">
              <a
                href=""
                class="text-amber-800 font-bold md:hover:underline text-xl"
              >
                Veja todos os textos</a
              >
            </div>
          </div>

          <div
            class="divcoluna flex flex-col gap-4 md:w-[40%] max-h-[450px] overflow-y-auto"
          >
            <a
              href="#"
              class="flex gap-2 items-center w-full h-[150px] border-b border-gray-300 pb-2 hover:bg-gray-200"
            >
              <img
                class="w-1/2 h-full shadow-xl object-scale-down object-center rounded-lg"
                src="src/assets/BLOG_-_Ansiedade-removebg-preview.png"
                alt="Lídia Andrade"
              />
              <h3 class="w-1/2 hover:underline">
                <span class="font-light text-amber-600 text-xs"
                  >2 minutos de leitura</span
                ><br />
                COMO SABER SE TENHO ANSIEDADE?
              </h3>
            </a>

            <a
              href="#"
              class="flex gap-2 items-center w-full h-[150px] border-b border-gray-300 pb-2 hover:bg-gray-200"
            >
              <img
                class="w-1/2 h-full shadow-xl object-cover object-center rounded-lg"
                src="src/assets/BLOG-AfinaloqueeTDAH.jpg"
                alt="Lídia Andrade"
              />
              <h3 class="w-1/2 hover:underline">
                <span class="font-light text-amber-600 text-xs"
                  >3 minutos de leitura</span
                ><br />
                AFINAL, O QUE É TDAH?
              </h3>
            </a>

            <a
              href="#"
              class="flex gap-2 items-center w-full h-[150px] border-b border-gray-300 pb-2 hover:bg-gray-200"
            >
              <img
                class="w-1/2 h-full shadow-xl object-cover object-center rounded-lg"
                src="src/assets/BLOG-ComosabersemeufilhotemTDAH.jpg"
                alt="Lídia Andrade"
              />
              <h3 class="w-1/2 hover:underline">
                <span class="font-light text-amber-600 text-xs"
                  >2 minutos de leitura</span
                ><br />
                COMO SABER SE MEU FILHO TEM TDAH?
              </h3>
            </a>

            <a
              href="#"
              class="flex gap-2 items-center w-full h-[150px] border-b border-gray-300 pb-2 hover:bg-gray-200"
            >
              <img
                class="w-1/2 h-full shadow-xl object-cover object-center rounded-lg"
                src="src/assets/BLOG-ComolidarcomumfilhoquetemTDAH.jpg"
                alt="Lídia Andrade"
              />
              <h3 class="w-1/2 hover:underline">
                <span class="font-light text-amber-600 text-xs"
                  >3 minutos de leitura</span
                ><br />
                COMO LIDAR COM UM FILHO QUE TEM TDAH?
              </h3>
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
