<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title class="text-teste-normal">Lídia Andrade</title>
    <!-- Link para a fonte Reenie Beanie -->

    <link
      href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Forum&family=Reenie+Beanie&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="">

    <!-- Primeira opção -->
    
    <!-- terceira opção -->

    <div
    class="flex flex-col  justify-center pb-8 md:flex-row gap-4 border-t-0 border-amber-950"
  >
    <div class="md:min-w-1/2">
      <img
        class="hidden mt-5 md:shadow-xl h-auto max-h-[70vh] object-cover object-center rounded-lg md:block"
        src="src/assets/CONTATO.jpg"
        alt="Lídia Andrade"
      />
    </div><!-- Imagem -->

    <!-- Texto -->
    <div class="w-full items-center px-4  md:w-1/2 mt-12 h-auto items-start text-lg flex flex-col md:items-start md:text-left text-center">
      <h2 class="font-titulo text-5xl md:text-5xl mt-4 mb-10">Contato </h2>
     
      <p class="mb-4 ident-4 text-lg md:text-base">
        Não é fácil buscar ajuda psicológica. Dar este passo em direção ao
        <span class="font-bold">cuidado com sua saúde emocional é um gesto de grande valor e coragem.</span> 
        Você não está sozinho(a) nessa jornada, e ficarei honrada em poder
        acolher você nesse momento. <br />
        
      </p>
      <p class=" mb-4  text-lg md:text-base">Estou à disposição para responder suas dúvidas e agendar uma conversa.
        Você pode me enviar uma mensagem pelo WhatsApp, clicando no link abaixo.
      </p>
      <a class="  bg-amber-900/25 rounded-lg p-2 shadow-lg hover:underline text-xl md:mt-12 text-amber-800" href=""
        >Entre em contato.</a
       
      >
    </div>

    <div class="block flex justify-center md:hidden">
      <img
        class="block mt-5 shadow-xl h-auto max-w-[40vh] object-cover object-center rounded-lg md:hidden"
        src="src/assets/CONTATO_CELULAR.jpg"
        alt="Lídia Andrade"
      />
    </div>
  </div>

  
  </body>
</html>
