<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title class="text-teste-normal">Lídia Andrade</title>
    <!-- Link para a fonte Reenie Beanie -->
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Forum&family=Reenie+Beanie&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="pt-20 pb-4">
    <div class="flex flex-col items-center justify-center">
      <h1 class="font-titulo text-5xl md:text-5xl mt-4 text-center">
      Relatos dos Atendimentos
      </h1>
      <h2 class="text-3xl font-titulo">Adolescentes</h2>
      <div class="flex flex-col md:flex-row justify-center w-full md:[50vh] mt-4">
        <div class="bg-white max-w-[70%] mx-auto flex mb-4 flex-row p-6 rounded-lg text-center">
        <div class="flex flex-col items-center">
        <!-- user-img-->
        <img
          src="src/assets/avataaars_Pai.svg"
          alt="Lídia"
          class="w-24 h-24 rounded-full mx-auto object-cover object-center mb-4"
        />
        <!-- Estrelas-->
        <div class="flex justify-center mb-4">
          <svg
          class="w-5 h-5 text-yellow-500"
          fill="currentColor"
          viewBox="0 0 24 24"
          >
          <path
            d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.62L12 2 9.19 8.62 2 9.24l5.46 4.73L5.82 21z"
          ></path>
          </svg>
          <svg
          class="w-5 h-5 text-yellow-500"
          fill="currentColor"
          viewBox="0 0 24 24"
          >
          <path
            d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.62L12 2 9.19 8.62 2 9.24l5.46 4.73L5.82 21z"
          ></path>
          </svg>
          <svg
          class="w-5 h-5 text-yellow-500"
          fill="currentColor"
          viewBox="0 0 24 24"
          >
          <path
            d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.62L12 2 9.19 8.62 2 9.24l5.46 4.73L5.82 21z"
          ></path>
          </svg>
          <svg
          class="w-5 h-5 text-yellow-500"
          fill="currentColor"
          viewBox="0 0 24 24"
          >
          <path
            d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.62L12 2 9.19 8.62 2 9.24l5.46 4.73L5.82 21z"
          ></path>
          </svg>
          <svg
          class="w-5 h-5 text-yellow-500"
          fill="currentColor"
          viewBox="0 0 24 24"
          >
          <path
            d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.62L12 2 9.19 8.62 2 9.24l5.46 4.73L5.82 21z"
          ></path>
          </svg>
        </div>
        </div>
        <!-- info user-->
        <div class="ml-6 flex  flex-col mt-5">
        <h3 class="slider-nome text-start text-sm font-bold">
          Pai de L.O.S, estudante, 12 anos
        </h3>
        <p class="slider-texto text-gray-600 mt-1">
          “Obrigado! Amei a sua conexão e o excelente acompanhamento
          psicológico da minha menina”.
        </p>
        </div>
      </div>

      
      </div>
       <div class="bg-white max-w-[70%] mx-auto flex mb-4 flex-row p-6 rounded-lg text-center">
      <div class="flex flex-col items-center">
        <!-- user-img-->
        <img
        src="src/assets/avataaars_J.I.C.png"
        alt="Lídia"
        class="w-24 h-24 rounded-full mx-auto object-cover object-center mb-4"
        />
        <!-- Estrelas-->
        <div class="flex justify-center mb-4">
        <svg
          class="w-5 h-5 text-yellow-500"
          fill="currentColor"
          viewBox="0 0 24 24"
        >
          <path
          d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.62L12 2 9.19 8.62 2 9.24l5.46 4.73L5.82 21z"
          ></path>
        </svg>
        <svg
          class="w-5 h-5 text-yellow-500"
          fill="currentColor"
          viewBox="0 0 24 24"
        >
          <path
          d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.62L12 2 9.19 8.62 2 9.24l5.46 4.73L5.82 21z"
          ></path>
        </svg>
        <svg
          class="w-5 h-5 text-yellow-500"
          fill="currentColor"
          viewBox="0 0 24 24"
        >
          <path
          d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.62L12 2 9.19 8.62 2 9.24l5.46 4.73L5.82 21z"
          ></path>
        </svg>
        <svg
          class="w-5 h-5 text-yellow-500"
          fill="currentColor"
          viewBox="0 0 24 24"
        >
          <path
          d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.62L12 2 9.19 8.62 2 9.24l5.46 4.73L5.82 21z"
          ></path>
        </svg>
        <svg
          class="w-5 h-5 text-yellow-500"
          fill="currentColor"
          viewBox="0 0 24 24"
        >
          <path
          d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.62L12 2 9.19 8.62 2 9.24l5.46 4.73L5.82 21z"
          ></path>
        </svg>
        </div>
      </div>
      <!-- info user-->
      <div class="ml-6 flex flex-col mt-5">
        <h3 class="slider-nome text-start text-sm font-bold">
        J. I. C., estudante, 19 anos
        </h3>
        <p class="slider-texto text-gray-600 mt-1">
          "Tem sido uma experiência incrível. Ao longo das sessões, consigo perceber a minha evolução e, graças à sua metodologia, de fato, eu mudei bastante. Eu só tenho a agradecer. Já me consultei com alguns psicólogos e posso afirmar que a metodologia de Lídia é única e foi a que funcionou melhor para mim. Uma excelente profissional."
        </p>
      </div>
      </div>

      <h2 class="text-3xl font-titulo">Adultos</h2>

      <div class="bg-white max-w-[70%] mx-auto flex mb-4 flex-row p-6 rounded-lg text-center">
        <div class="flex flex-col items-center">
          <!-- user-img-->
          <img
            src="src/assets/avatar_Meg.svg"
            alt="Lídia"
            class="w-24 h-24 rounded-full mx-auto object-cover object-center mb-4"
          />
          <!-- Estrelas-->
          <div class="flex justify-center mb-4">
            <svg
              class="w-5 h-5 text-yellow-500"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.62L12 2 9.19 8.62 2 9.24l5.46 4.73L5.82 21z"
              ></path>
            </svg>
            <svg
              class="w-5 h-5 text-yellow-500"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.62L12 2 9.19 8.62 2 9.24l5.46 4.73L5.82 21z"
              ></path>
            </svg>
            <svg
              class="w-5 h-5 text-yellow-500"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.62L12 2 9.19 8.62 2 9.24l5.46 4.73L5.82 21z"
              ></path>
            </svg>
            <svg
              class="w-5 h-5 text-yellow-500"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.62L12 2 9.19 8.62 2 9.24l5.46 4.73L5.82 21z"
              ></path>
            </svg>
            <svg
              class="w-5 h-5 text-yellow-500"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.62L12 2 9.19 8.62 2 9.24l5.46 4.73L5.82 21z"
              ></path>
            </svg>
          </div>
        </div>
        <!-- info user-->
        <div class="ml-6 flex flex-col mt-5">
          <h3 class="slider-nome text-start text-sm font-bold">
            M.E.G, setor de marketing, 28 anos
          </h3>
          <p class="slider-texto text-gray-600 mt-1">
            “Lídia é uma profissional altamente capacitada, com uma abordagem empática e cuidadosa. O ambiente acolhedor e a escuta atenta dela me proporcionaram a confiança necessária para explorar aspectos de mim mesma que antes pareciam difíceis de aceitar”. 
          </p>
        </div>
      </div>

      <div class="bg-white max-w-[70%] mx-auto flex mb-4 flex-row p-6 rounded-lg text-center">

        <div class="flex flex-col items-center">
          <!-- user-img-->
          <img
            src="src/assets/T.F.T.jpeg"
            alt="Lídia"
            class="w-24 h-24 rounded-full mx-auto object-cover object-center mb-4"
          />
          <!-- Estrelas-->
          <div class="flex justify-center mb-4">
            <svg
              class="w-5 h-5 text-yellow-500"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.62L12 2 9.19 8.62 2 9.24l5.46 4.73L5.82 21z"
              ></path>
            </svg>
            <svg
              class="w-5 h-5 text-yellow-500"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.62L12 2 9.19 8.62 2 9.24l5.46 4.73L5.82 21z"
              ></path>
            </svg>
            <svg
              class="w-5 h-5 text-yellow-500"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.62L12 2 9.19 8.62 2 9.24l5.46 4.73L5.82 21z"
              ></path>
            </svg>
            <svg
              class="w-5 h-5 text-yellow-500"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.62L12 2 9.19 8.62 2 9.24l5.46 4.73L5.82 21z"
              ></path>
            </svg>
            <svg
              class="w-5 h-5 text-yellow-500"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.62L12 2 9.19 8.62 2 9.24l5.46 4.73L5.82 21z"
              ></path>
            </svg>
          </div>
        </div>
        <!-- info user-->
        <div class="ml-6 flex flex-col mt-5">
          <h3 class="slider-nome text-start text-sm font-bold">
            T.F.T., setor de vendas, 28 anos
          </h3>
          <p class="slider-texto  text-gray-600 mt-1">
            "Com sua escuta atenta, seu jeito acolhedor e sua sensibilidade, você me ajudou a dar um dos passos mais importantes da minha vida: conseguir colocar pra fora o que sinto de verdade. Algo que antes parecia impossível, hoje é real. Em cada sessão, você me deu espaço, respeito e segurança. E isso não tem preço. De verdade, obrigada por me ajudar a me encontrar e a me permitir ser quem eu sou".
          </p>
        </div>
      </div>
      <h2 class="text-3xl font-titulo">Idosos</h2>
      <div class="bg-white max-w-[70%] mx-auto flex mb-4 flex-row p-6 rounded-lg text-center">
        <div class="flex flex-col items-center">
          <!-- user-img-->
          <img
            src="src/assets/avataaars_GMA.svg"
            alt="Lídia"
            class="w-24 h-24 rounded-full mx-auto object-cover object-center mb-4"
          />
          <!-- Estrelas-->
          <div class="flex justify-center mb-4">
            <svg
              class="w-5 h-5 text-yellow-500"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.62L12 2 9.19 8.62 2 9.24l5.46 4.73L5.82 21z"
              ></path>
            </svg>
            <svg
              class="w-5 h-5 text-yellow-500"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.62L12 2 9.19 8.62 2 9.24l5.46 4.73L5.82 21z"
              ></path>
            </svg>
            <svg
              class="w-5 h-5 text-yellow-500"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.62L12 2 9.19 8.62 2 9.24l5.46 4.73L5.82 21z"
              ></path>
            </svg>
            <svg
              class="w-5 h-5 text-yellow-500"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.62L12 2 9.19 8.62 2 9.24l5.46 4.73L5.82 21z"
              ></path>
            </svg>
            <svg
              class="w-5 h-5 text-yellow-500"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.62L12 2 9.19 8.62 2 9.24l5.46 4.73L5.82 21z"
              ></path>
            </svg>
          </div>
        </div>
        <!-- info user-->
        <div class="ml-6 flex flex-col mt-5">
          <h3 class="slider-nome text-start text-sm font-bold">
            G.M.A, aposentada, 73 anos
          </h3>
          <p class="slider-texto text-gray-600 mt-1">
            “(...) Foi com sua paciência, dedicação e sobretudo o modo como você me ouvia e entendia tudo direitinho. Obrigada por sua dedicação e profissionalismo excelente!”
          </p>
        </div>
      </div>

      
      
    </div>
  </body>
</html>
