<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title class="text-teste-normal">Lídia Andrade</title>
    <!-- Link para a fonte Reenie Beanie -->

    <link
      href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Forum&family=Reenie+Beanie&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="p-4">
    <div
      class="flex p-4 flex-col md:flex-row flex-row-reverse gap-7"
    >
      <!-- Texto -->
      <div class="w-full md: h-auto justify-center item text-lg flex flex-col">
      <h2 class="font-titulo md:text-5xl ml- mt-5 mb-2 ">Minha trajetória</h2>
      <p class="mb-2  text-lg md:text-base mt-4">
        Olá! O meu nome é Lídia Andrade, sou psicóloga, <span
        class="font-bold">formada</span
        > em Psicologia pela Universidade Católica de Pernambuco, com <span
        class="font-bold">mestrado</span
        > em Psicologia Clínica pela Universidade de São Paulo (USP) e <span
        class="font-bold">especialização</span
        > em Terapia Sistêmica Familiar e de Casal.
        
        </p>
        <p class="mb-2 text-lg md:text-base">
        <span class="font-bold">Meu objetivo</span> como psicóloga clínica é proporcionar
        aos meus pacientes <span class="font-bold"
        >um espaço acolhedor e uma escuta qualificada</span
        >, onde quer que estejam, para que possam explorar seus desafios e se
        sentirem capazes de identificar caminhos guiados por seus valores de
        vida. Assim, busco ajudá-los a fazer escolhas conscientes que promovam
        bem-estar e qualidade de vida a longo prazo.          
        </p>
        <p class="mb-4 text-lg md:text-base">
        Minha prática é orientada pela <span class="font-bold"
        >Terapia de Aceitação e Compromisso (ACT)</span
        >, uma abordagem <span class="font-bold">baseada em evidências</span> que
        integra aceitação e mudança comportamental para ajudar as pessoas a lidarem
        com pensamentos e emoções desafiadoras, vivendo de forma plena e alinhada
        aos seus valores.
      </p>
      

      <a class="bg-amber-900/25 rounded-lg p-2 shadow-lg hover:underline text-xl md:mt-6 text-amber-800 w-fit" href=""
        >Me chame para uma conversa </a>
      
      </div>

      <!-- Imagem -->
      <img
      class="mt-5 md:w-[40%] shadow-xl h-auto max-h-[70vh] object-cover object-center rounded-lg"
      src="src/assets/HOME-SobreMim.jpg"
      alt="Lídia Andrade"
      />
     </div>

     <div class="flex flex-col items-center justify-center pb-8 md:  border-t-0 border-amber-950">
      <h2 class="font-bold text-xl mt-3 ">
        Atendo várias demandas, com ênfase em questões como: 
      </h2>

      <ul
        class="mt-2 flex flex-nowrap text-center gap-2 md:flex-nowrap md:gap-5 "
      >
        <li
          class="inline-block w-fit rounded hover:opacity-75 shadow-xl px-2  bg-amber-900/25 max-w-[70vh]"
        >
          <a href="#" class="block px-2 py-1 transition-opacity duration-200"
            >Ansiedade</a
          >
        </li>
        <li
          class="inline-block w-fit rounded hover:opacity-75 px-2 shadow-xl  bg-amber-900/25 max-w-[70vh]"
        >
          <a href="#" class="block px-2 py-1 transition-opacity duration-200"
            >Depressão</a
          >
        </li>
        <li
          class="inline-block w-fit rounded hover:opacity-75 shadow-xl px-2 bg-amber-900/25 max-w-[70vh]"
        >
          <a href="#" class="block px-2 py-1 transition-opacity duration-200"
            >Estresse profissional</a
          >
        </li>
        <li
        class="inline-block w-fit rounded hover:opacity-75 shadow-xl px-2  bg-amber-900/25 max-w-[70vh]"
      >
        <a href="#" class="block px-2 py-1 transition-opacity duration-200"
          >TDAH na adolescência</a
        >
      </li>
      <li
      class="inline-block w-fit rounded hover:opacity-75 shadow-xl px-2  bg-amber-900/25 max-w-[70vh]"
    >
      <a href="#" class="block px-2 py-1 transition-opacity duration-200"
        >Brasileiros no exterior</a
      >
    </li>
    <li
      class="inline-block w-fit rounded hover:opacity-75 shadow-xl px-2 bg-amber-900/25 max-w-[70vh]"
    >
      <a href="#" class="block px-2 py-1 transition-opacity duration-200"
        >Desafios da terceira idade</a
      >
    </li>
      </ul>
     </div>

      <!-- Segunda seção -->

     <div
     class="flex flex-col md:flex-row  border-t-[0.80px] p-4 items-center border-amber-950 mt-4"
   >

   <div class="w-full md:w-1/2 flex flex-col items-center justify-center">
    <h1 class="font-titulo text-5xl  text md:text-5xl mb-4 pb-10">Quem sou eu?</h1>
    <img
      class=" md:w-[90%] shadow-xl h-auto max-h-[70vh] mb-14 object-cover object-center rounded-lg "
      src="src/assets/SOBRE-MIM-quem-sou-eu.jpg"
      alt="Terapia Online"
    />
   </div>
     <!-- Texto -->
     <div class="w-full md:w-1/2 pr-10">
       <h1 class="font-light text-amber-600 text-xl">Esta seção é só para os curiosos. 😉</span></h1>
       <p class="mt-4 font-textNormal text-lg">
        <span class="italic">Eu em essência –</span> Sou apaixonada pela natureza e pelas conexões humanas. Gosto de contemplar a magnitude do céu, a majestosidade do mar e o charme das árvores nos parques, que me ajudam a lembrar da transitoriedade dos desafios e a nutrir a gratidão pelas belezas do mundo.
       </p>
       <p class="mt-4 font-textNormal text-lg">
        <span class="italic">Curiosidades aleatórias –</span> Minha cor favorita é a cor verde e a comida que mais gosto é batata. Não suporto canela e tenho fobia de aranha. Eu valorizo o tempo de qualidade e os abraços apertados com as pessoas que eu amo.
       </p>
       <p class="mt-4 font-textNormal text-lg">
        <span class="italic">Minhas origens –</span> Nasci em Recife/PE, mas vivi na França até os 14 anos, carregando comigo a riqueza de duas culturas e idiomas. Hoje, em São Paulo. Essa vivência multicultural me ensinou a abraçar a diversidade e a compreender diferentes perspectivas de vida, algo que levo para minha prática profissional. 
       </p>

       <p class="mt-4 font-textNormal text-lg">
        <span class="italic">Minha missão</span>  é ajudar aqueles que me procuram a encontrar caminhos mais leves e significativos.  
       </p>
       
      

       
     </div>
     <!-- Imagem -->
     
   </div>


  </body>
</html>
